@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Simple application solving some palindrome problems. This application will give the number
    of palindrome words in a paragraph as well as the number of palindrome sentences in that paragraph.
    It will also list all unique words within a paragraph with their count. Lastly, the user
    is able to enter a letter and see all words containing that letter within their paragraph.</p>
